.chapter_label {
    font-size: xx-large;
    font-weight: bold;
    padding-right: 0.25em;
    float: left;
}

.verses_label {
    font-size: smaller;
    font-weight: bold;
    padding-right: 0.25em;
}

.selected_verses_label {
    font-size: smaller;
    font-weight: bold;
    padding-right: 0.25em;
    color: white;
    background-color: black;
}

.browserWord {
    text-decoration: none;
    color: #000;
}

.usfm_p {
}

.usfm_q {
    padding-left: 1em;
}

.usfm_q2 {
    padding-left: 2em;
}

#toc_ul li.leader::after {
    width: auto !important;
}

@media screen {
    .pagedjs_page {
        box-shadow: 10px 12px 30px 0 rgba(0, 0, 0, 0.1);
        margin: 1rem;
        float: left; 
    }
}

body {
    position: absolute;
}