.chapter_label {
    font-size: xx-large;
    font-weight: bold;
    padding-right: 0.25em;
    float: left;
}

.verses_label {
    font-size: smaller;
    font-weight: bold;
    padding-right: 0.25em;
}

.selected_verses_label {
    font-size: smaller;
    font-weight: bold;
    padding-right: 0.25em;
    color: white;
    background-color: black;
}

.browserWord {
    text-decoration: none;
    color: #000;
}

.usfm_p {
}

.usfm_q {
    padding-left: 1em;
}

.usfm_q2 {
    padding-left: 2em;
}
